const track = document.getElementById("track");
const cards = [...document.querySelectorAll(".card")];

let index = 0;
let startX = 0;
let currentX = 0;
let dragging = false;

/* ===== focus ===== */
function update() {
  cards.forEach((c, i) =>
    c.classList.toggle("active", i === index)
  );

  const cardWidth = cards[0].offsetWidth + 40;
  track.style.transform =
    `translateX(${-(cardWidth * index)}px)`;
}

update();

/* ===== mouse ===== */
track.addEventListener("mousedown", e => {
  dragging = true;
  startX = e.clientX;
});

window.addEventListener("mousemove", e => {
  if (!dragging) return;
  currentX = e.clientX;
});

window.addEventListener("mouseup", () => {
  if (!dragging) return;
  const diff = currentX - startX;

  if (diff < -50 && index < cards.length - 1) index++;
  if (diff > 50 && index > 0) index--;

  dragging = false;
  update();
});

/* ===== touch ===== */
track.addEventListener("touchstart", e => {
  startX = e.touches[0].clientX;
});

track.addEventListener("touchend", e => {
  const endX = e.changedTouches[0].clientX;
  const diff = endX - startX;

  if (diff < -50 && index < cards.length - 1) index++;
  if (diff > 50 && index > 0) index--;

  update();
});
