<section class="carousel">
  <div class="track">

    <div class="card active" data-model="iphone-17-pro-max">
      <img src="17pm.png">
      <h2>iPhone 17 Pro Max</h2>
      <p>เริ่ม 1,499 / ด.</p>
    </div>

    <div class="card" data-model="iphone-17-pro">
      <img src="17p.png">
      <h2>iPhone 17 Pro</h2>
      <p>เริ่ม 1,399 / ด.</p>
    </div>

    <div class="card" data-model="iphone-16-pro-max">
      <img src="16pm.png">
      <h2>iPhone 16 Pro Max</h2>
      <p>เริ่ม 1,299 / ด.</p>
    </div>

  </div>
</section>
