html,body{
  width:100%;
  height:100%;
  background:#000;
  color:#fff;
  font-family:-apple-system,BlinkMacSystemFont,"SF Pro Display",sans-serif;

  /* ❗ ห้าม hidden */
  overflow-x:auto;
  overflow-y:hidden;
}

.track{
  display:flex;
  gap:24px;
  padding:0 20px;

  overflow-x:auto;
  overflow-y:hidden;

  scroll-snap-type:x mandatory;
  scroll-behavior:smooth;

  /* ไม่ต้อง grab */
  cursor:default;
}

.track::-webkit-scrollbar{
  display:none;
}
