.carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.track {
  display: flex;
  gap: 24px;
  padding: 40px;
}

.card {
  scroll-snap-align: center;
  min-width: 260px;
  height: 420px;
  border-radius: 28px;
  background: linear-gradient(180deg, #111, #000);
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  transition: .35s ease;
  transform: scale(.9);
  opacity: .4;
}

.card img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  margin-bottom: 16px;
  pointer-events: none; /* ⭐ สำคัญ */
}

.card.active {
  transform: scale(1);
  opacity: 1;
}

.card h2 {
  margin: 0;
}

.card p {
  opacity: .7;
}
