*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html,body{
  width:100%;
  height:100%;
  background:#000;
  color:#fff;
  font-family:-apple-system,BlinkMacSystemFont,"SF Pro Display",sans-serif;
}

/* header */
.topbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:64px;
  padding:16px 20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:10;
}
